- (1..5).each do |i|
  .story{:id => "story-#{i}"}
    %h2.subject
      Tema: Gas & Klima
    %h1.title
      Jo storre gasseksport desto mindre CO2-utslipp
    .preface
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem ...
    .section
      .left
        %p
          %span.first-line
            Nesten 30 prosent av strommen i Europa
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          %span.end-point
      .right
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since scdasfas safdasf af
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          %span.end-point
      .clear
    %h2.subtitle
      CO2 utslipp per enegikilde i Europa
    .animation
      %img{:src => "/images/animations/sec-1-animation-1.jpg"}