#header {
  @include bg_img(url(/images/header-bg.png), center 0);
  height: $HEADER_HEIGHT;
  position: relative;
  z-index: 2;
  .header-title {
    padding: 50px 0;
    margin: 0 auto;
    width: 630px;
    h1 {
      line-height: 1;
      font-size: 48px;
      &:before {
        content: '\201C';
      }
      &:after {
        content: '\201D';
      }
      text-indent: -22px;
    }
    h3 {
      line-height: 1.2;
      font-size: 20px;
      font-family: $italic_medium_font;
      margin: 1em auto;
    }
  }
}